<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pbc Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>pbc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E3E6E31C99C071001A9A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E3E6E81C99C09B001A9A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E3E6F31C99C184001A9A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E3E7071C99C694001A9A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7EF1333179E5530002B6A46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
